* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

#form-container { 
    display : flex; 
    padding : 5px; 
}

#form-container > * { 
    padding-right : 5px; 
    padding-left : 5px; 
}

#results-container { 
    padding : 5px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;  
    width: 70vw; 
    height: 70vh; 
    border: solid;
    overflow: auto; /* sécurité */
}