#images-container {
    display : flex;

}

.rainbow {
    padding : 2px;

}

.picture { 
    height : 200px;
    width : auto;

}

#puzzle-box { 

    display : flex;
    height : 202px;
    width : 435px;
    border-style : solid;
}